<%- include('includes/header.ejs') %> 
    <main>
        <section>
            <form id="form" action='/admin/add-product' method='POST'>
                <input type='text' name='title' placeholder='نام محصول' />
                <button>افزودن</button>
            </form>
        </section>
    </main>
</body>
</html>